# Ignore everything
*

# Allow the integration
!custom_components/
!custom_components/sleepnumber_ble/
!custom_components/sleepnumber_ble/**

# Allow docs
!PROTOCOL.md
!README.md
!.gitignore
!docs/
!docs/**
!brand/
!brand/**
!hacs.json
!LICENSE
!.github/
!.github/**
!.pre-commit-config.yaml

# Still ignore compiled files inside allowed dirs
__pycache__/
*.pyc
